{% extends "main/layout3.html" %}
{% load static %}

{% block content %}




<div class="min-h-screen flex">
    <div class="w-full md:w-1/2 bg-white flex flex-col justify-center p-8">
        <div class="max-w-sm mx-auto">
            <div class="text-center mb-6">
                <div class="text-4xl font-bold text-blue-600 mb-4">Reset password

                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16" class="mx-auto">
                    <path fill="#1f2020" class="text-pink-500 fill-current"
                        d="M4.5 8h5.825a3.2 3.2 0 0 0 .961 1.83v3.217c-.83.58-1.94.953-3.286.953c-3.14 0-5-2.029-5-4v-.5A1.5 1.5 0 0 1 4.5 8M8 1.5A2.75 2.75 0 1 1 8 7a2.75 2.75 0 0 1 0-5.5m6.241 8.388A2.501 2.501 0 1 0 12 9.5v3.858c0 .091.035.179.097.245l1.166 1.24c.137.144.366.15.509.01l1.166-1.13a.357.357 0 0 0 .033-.476L14 12l.9-.77a.357.357 0 0 0 .042-.5zm.009-3.138a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0" />
                </svg>

            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="w-full bg-pink-500 text-white py-2 rounded-lg">Enviar</button>
            </form>

            <div class="text-center">
                <div class="flex justify-center space-x-4 mt-2">
                    <a href="#" class="text-zinc-700 hover:text-blue-600"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-zinc-700 hover:text-blue-600"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-zinc-700 hover:text-blue-600"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:block md:w-1/2 bg-cover bg-center">
        <img src="{% static 'images/background.svg' %}" alt="Background Image" class="w-full h-full object-cover">
    </div>
</div>
{% endblock %}